section.section1 {background-color:#2F4F4F;visibility:hidden;position:relative; width:600px;position: absolute;}
section.section2 {background-color:#B22222;visibility: hidden;position:relative;width:600px;position: absolute;}
footer {position:absolute; bottom: -400px;}
